<html><head><style type="text/css"></style>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>WatchPot Settings</title>

  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>

  <style type="text/css">

.timerStep {
    margin-left: 20px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

label > * {
    display: block;
}

.unit, input[type=number], input[type=checkbox] {
    display: inline-block;
}
input[type=number] {
    width: 100px;
}

.timerLabel {
  display: inline-block;
  padding: 5px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.timerLabel:hover {
  text-decoration: underline;
  cursor: pointer;
}

.timerLabel:before {
  content: '+';
}

.timerLabel.expanded:before {
  content: '-';
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
  </style>
<script type="text/javascript">//<![CDATA[

var myApp = angular.module('watchPot',[]);

function CoffeeCtrl($scope, $location) {
    $scope.timers = $location.path() ? JSON.parse($location.path().substring($location.path().indexOf('/')+1)) : [];
    $scope.labelOptions = ['Pour', 'Stir', 'Steep', 'Plunge', 'Flip', 'Wait'];
    $scope.grindOptions = ['Fine', 'Medium Fine', 'Medium', 'Medium Course', 'Course'];
    $scope.unitOptions = ['g', 'fl oz', 'ml', 'c', 'scoops', 'shots'];
    $scope.expanded = [];

    angular.forEach($scope.timers, function() {
        $scope.expanded.push(false);
    });

    $scope.addTimer = function() {
        $scope.expanded.push(true);
        $scope.timers.push({
            name: '',
            description: '',
            grind: '',
            coffeeAmount: '',
            coffeeUnit: 'g',
            waterAmount: '',
            waterUnit: 'g',
            bufferStart: true,
            timerSteps: [],
        });
    };

    $scope.addTimerStep = function(timer) {
        timer.timerSteps.push({
            label: '',
            len: '',
            buffer: false
        });
    }

    $scope.removeTimerStep = function(timer, idx) {
        timer.timerSteps.splice(idx, 1);
    }

    $scope.removeTimer = function(idx) {
        $scope.timers.splice(idx, 1);
        $scope.expanded.splice(idx, 1);
    }

    $scope.save = function() {
        document.location = 'pebblejs://close#' + encodeURIComponent(JSON.stringify({'timers': $scope.timers}));
    }

    $scope.addPreset = function() {
      if ($scope.selectedPreset) {
        $scope.expanded.push(false);
        $scope.timers.push($scope.selectedPreset);
      }
    }

    // PRESETS
    $scope.presets = [
        {
          name: 'Aeropress Bold',
          description: 'Inverted',
          grind: 'Medium Fine',
          coffeeAmount: 15,
          coffeeUnit: 'g',
          waterAmount: 200,
          waterUnit: 'g',
          bufferStart: true,
          timerSteps: [{
                            label: 'Pour',
                            len: 10,
                            buffer: false
                        }, {
                            label: 'Stir',
                            len: 45,
                            buffer: false
                        }, {
                            label: 'Flip',
                            len: 5,
                            buffer: false
                        }, {
                            label: 'Plunge',
                            len: 20,
                            buffer: false
                        }]
        },
        {
          name: 'Aeropress Iced',
          description: 'Inverted, Over Ice',
          grind: 'Medium Fine',
          coffeeAmount: 17,
          coffeeUnit: 'g',
          waterAmount: 175,
          waterUnit: 'g',
          bufferStart: true,
          timerSteps: [{
                            label: 'Pour',
                            len: 10,
                            buffer: false
                        },{
                            label: 'Stir',
                            len: 35,
                            buffer: false
                        },{
                            label: 'Steep',
                            len: 60,
                            buffer: false
                        },{
                            label: 'Flip',
                            len: 5,
                            buffer: false
                        },{
                            label: 'Plunge',
                            len: 20,
                            buffer: false
                        }]
        },
        {
          name: 'Aeropress Wren',
          description: 'Traditional Aeropress For Two',
          grind: 'Medium Fine',
          coffeeAmount: 25,
          coffeeUnit: 'g',
          waterAmount: 200,
          waterUnit: 'g',
          bufferStart: true,
          timerSteps: [{
                            label: 'Pour',
                            len: 10,
                            buffer: false
                        },{
                            label: 'Stir',
                            len: 15,
                            buffer: false
                        },{
                            label: 'Steep',
                            len: 25,
                            buffer: false
                        },{
                            label: 'Plunge',
                            len: 25,
                            buffer: false
                        }]
        }
    ];
}
//]]>

</script>

</head>
<body>
  <div ng-app="watchPot">
    <div ng-controller="CoffeeCtrl">
        <h1>WatchPot</h1>
        <div ng-show="!timers.length">Add a timer to get started.</div>
        <div ng-hide="!timers.length" class="timers" ng-repeat="timer in timers">
          <div class="timerLabel" ng-class="{expanded: expanded[$index]}" ng-click="expanded[$index] = !expanded[$index]">{{ timer.name || "Unnamed timer" }}</div>
          <button ng-click="removeTimer($index)">Remove</button>
          <div ng-show="expanded[$index]">
            <label>Name
                <input type='text' ng-model='timer.name'></input>
            </label>
            <label>Description
                <input type='text' ng-model='timer.description'></input>
            </label>
            <label>Grind
                <select ng-model="timer.grind" ng-options='g for g in grindOptions'>
                </select>
            </label>
            <label>Coffee Amount
                <div>
                    <input type="number" pattern="\d*" ng-model="timer.coffeeAmount"></input>
                    <select class="unit" ng-model="timer.coffeeUnit" ng-options='u for u in unitOptions'>
                    </select>
                </div>
            </label>
            <label>Water Amount
                <div>
                    <input type="number" pattern="\d*" ng-model="timer.waterAmount"></input>
                    <select class="unit" ng-model="timer.waterUnit" ng-options='u for u in unitOptions'>
                    </select>
                </div>
            </label>
            <label>Buffer start?
              <input type="checkbox" ng-model="timer.bufferStart"></input>
            </label>
            <div ng-show="!timer.timerSteps.length">Add at least one timer step.</div>
            <div ng-hide="!timer.timerSteps.length" class="timerStep" ng-repeat="timerStep in timer.timerSteps">
                <h3>Step {{ $index+1 }}</h3>
                <label>Label
                    <select ng-model="timerStep.label" ng-options='l for l in labelOptions'>
                    </select>
                </label>
                <label>Length (sec)
                    <input type="number" pattern="\d*" ng-model="timerStep.len" style="display: block"></input>
                </label>
                <label>Buffer?
                    <input type="checkbox" ng-model="timerStep.buffer"></input>
                </label>
                <button ng-click="removeTimerStep(timer, $index)">Remove Timer Step</button>
            </div>
            <button ng-click="addTimerStep(timer)">Add Timer Step</button>
            <button ng-click="removeTimer($index)">Remove Timer</button>
          </div>
        </div>
        <br />
        <button ng-click="addTimer()">Add Timer</button>
        <br />
        <br />
        Presets:
        <select ng-model="selectedPreset" ng-options="v.name for v in presets"></select>
        <button ng-click="addPreset()">Add</button>
        <br />
        <br />
        <button ng-click="save()">Save</button>
    </div>
</div>
</body>
</html>
